<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav>
          <a href="/">Home</a>
          <a href="/new">New Message</a>
      </nav>
    <h1><%= title %></h1>

    <form method="POST" action="/new">
        <label for="user">Username:</label><br>
        <input type="text" id="user" name="user"><br>

        <label for="text">Message:</label><br>
        <input type="textarea" id="text" name="text"><br>

        <button type="submit">Post Message</button>
    </form>
  </body>
</html>
